<ul>
    <li>
        <router-link to="/">{{ $t('menu.main') }}</router-link>
    </li>
    <li>
        <router-link to="/catalog">{{ $t('menu.catalog') }}</router-link>
    </li>
    <li>
        <router-link to="/services">{{ $t('menu.services') }}</router-link>
    </li>
    <li>
        <router-link to="/works">{{ $t('menu.works') }}</router-link>
    </li>
    <li>
        <router-link to="/blog">{{ $t('menu.blog') }}</router-link>
    </li>
    <li>
        <router-link to="/partners">{{ $t('menu.partners') }}</router-link>
    </li>
    <li>
        <router-link to="/contacts">{{ $t('menu.contacts') }}</router-link>
    </li>
</ul>